/* utilities  */
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}
/* header style  */
header {
    width: 100%;
    height: 808px;
    display: flex;
    justify-content: end;
    align-items: center;
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
}
.banner-text {
    width: 525px;
    margin-right: 230px;
    color: white;
   text-align: end;
}
.heading {
    font-size: 65px;
    font-weight: 700;
}
.contact-btn {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px 25px;
    font-size: 20px;
    color: #005FAC;
font-weight: 600;
}
main {
    margin: 0px 230px;
}
.failure-section {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 130px;
}
.half-width {
    width: 50%;
}
.half-width img {
    width: 100%;
}
.failure-details {
    width: 416px;
    height: 400px;
}
.failure-details ul {
    list-style: none;
}
.fa {
    color: #16D887;
    font-size: 20px;

}
.half-width h2 {
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}
.half-width p ol{
    color: #444343;

}
.plans {
    margin-top: 120px;
}
.plans-headings {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.plans-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.plan {
    text-align: center;
}
.plan h3 {
    font-size: 30px;
    font-weight: 700;
}
.plan p {
    font-size: 25px;
    color: #737272;

}
.gradient-section {
    margin: 130px 0;
    height: 300px;
    border-radius: 8px; 
    background-image:  linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("../images/watch.png");
   
}
.gradient {
    width: 450px;
    padding-top: 70px;
    padding-left: 70px;
}
.gradient h2 {
    margin-bottom: 25px;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
footer {
    padding: 0px 230px;
    margin-top: 130px;
    height: 577px;
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
footer p {
    margin: 15px 0;
    line-height: 26px;
}
footer h3 {
    font-size: 26px;
    margin-bottom: 30px;
}
.social-icon-container {
    display: flex;
}
.icon {
    margin-top: 10px;
    margin-right: 25px;
}
.input-field {
    padding: 21px 0px;
    padding-left: 5px;
    width: 325px;
    background-color: transparent;
    margin-bottom: 40px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
}
#subscribe-btn {
    background-color: #005FAC;
    color: white;
}